%lt-regular {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
%lt-bold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
%grg-regular {
  font-family: 'Georgia', sans-serif;
  font-weight: normal;
}
%grg-bold {
  font-family: 'Georgia', sans-serif;
  font-weight: bold;
}
